body {
  margin: 0;
}

/* Estilo general para todo el contenedor principal */
.main-container {
  display: flex; /* Activar flexbox */
  flex-direction: column; /* Divs apilados verticalmente */
  height: 100vh; /* Ocupa el 100% del alto de la pantalla */
  background-image: url('../src/assets/Fondo\ web-wedding.jpeg.jpg');
  background-size: cover;
}

/* Estilo para el div de arriba */
.top-div {
  flex: 0.5; /* Ocupa espacio proporcional (puedes ajustar según necesidad) */
  display: flex; /* Para centrar contenido dentro del div */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  
}

/* Estilo para el div del medio */
.middle-div {
  flex: 2; /* Ocupa más espacio que los otros divs (ajústalo según necesites) */
  display: flex; /* Para centrar contenido dentro del div */
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-image: url('../src/assets/Fondo\ web-wedding.jpeg.jpg');
}

/* Estilo para el div de abajo */
.bottom-div {
  flex: 0.5;
}

.botones {
  background-color: #efe7ca;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

audio {
  width: 300px;
  margin: 10px auto;
  display: block;
}

.firma {
  color: pink;
}

